.c1{
    text-align: center;
    color: blue;
    
}
.c2{
    margin: left 100px;
    padding-left: 50px;
    color: maroon;
}
.c3{
    color: darkblue;
}
.c4{
    text-align: center;
    margin-left: auto;
}
.c5{
align-items: center;
}
.c6{
    border-radius: 20px;
}